@import "../../../styles/var.scss";

.componentsContainerWrapper {
  display: flex;

  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px;
    margin-right: 20px;

    @media all and (max-width: $tablet-size) {
      margin-right: 0;
    }

    .cardsHeader {
      margin-bottom: 30px;
    }

    .cardsWrapper {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;

      .card {
        display: flex;
        justify-content: center;

        &:hover {
          box-shadow: var(--box-shadow);
        }
      }
    }
  }
}
